baseURL = "https://kishinshuichiro.github.io/"
languageCode = "zh-cn"
title = "Meditationes Sansepulcristarum"
theme = "PaperMod"

[params]
  defaultTheme = "dark"
  ShowReadingTime = false

[menu]
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 1

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
