{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 1 -}}

<nav
  class="pagination pagination-numbers"
  role="navigation"
  aria-label="Pagination"
>

  {{/* 第一页 */}}
  {{ if $paginator.HasPrev }}
    <a
      class="pagination-button pagination-first"
      href="{{ $paginator.First.URL }}"
      aria-label="First page"
      title="First page"
    >
      «
    </a>
  {{ else }}
    <span
      class="pagination-button pagination-first disabled"
      aria-hidden="true"
    >
      «
    </span>
  {{ end }}


  {{/* 上一页 */}}
  {{ if $paginator.HasPrev }}
    <a
      class="pagination-button pagination-prev"
      href="{{ $paginator.Prev.URL }}"
      aria-label="Previous page"
      title="Previous page"
    >
      ‹
    </a>
  {{ else }}
    <span
      class="pagination-button pagination-prev disabled"
      aria-hidden="true"
    >
      ‹
    </span>
  {{ end }}


  <div class="pagination-pages">

    {{ $current := $paginator.PageNumber }}
    {{ $total := $paginator.TotalPages }}

    {{ range $paginator.Pagers }}

      {{ $n := .PageNumber }}

      {{/*
        显示：
        - 第一页
        - 最后一页
        - 当前页前后各 2 页
      */}}

      {{ if or
        (eq $n 1)
        (eq $n $total)
        (and
          (ge $n (sub $current 2))
          (le $n (add $current 2))
        )
      }}

        {{/*
          如果和前一个显示页之间有断层，
          加省略号。
        */}}

        {{ if and
          (gt $n 2)
          (eq $n (sub $current 2))
        }}
          <span class="pagination-ellipsis">…</span>
        {{ end }}


        {{ if eq $n $current }}

          <span
            class="pagination-page current"
            aria-current="page"
          >
            {{ $n }}
          </span>

        {{ else }}

          <a
            class="pagination-page"
            href="{{ .URL }}"
          >
            {{ $n }}
          </a>

        {{ end }}


        {{ if and
          (lt $n (sub $total 1))
          (eq $n (add $current 2))
        }}
          <span class="pagination-ellipsis">…</span>
        {{ end }}

      {{ end }}

    {{ end }}

  </div>


  {{/* 下一页 */}}
  {{ if $paginator.HasNext }}
    <a
      class="pagination-button pagination-next"
      href="{{ $paginator.Next.URL }}"
      aria-label="Next page"
      title="Next page"
    >
      ›
    </a>
  {{ else }}
    <span
      class="pagination-button pagination-next disabled"
      aria-hidden="true"
    >
      ›
    </span>
  {{ end }}


  {{/* 最后一页 */}}
  {{ if $paginator.HasNext }}
    <a
      class="pagination-button pagination-last"
      href="{{ $paginator.Last.URL }}"
      aria-label="Last page"
      title="Last page"
    >
      »
    </a>
  {{ else }}
    <span
      class="pagination-button pagination-last disabled"
      aria-hidden="true"
    >
      »
    </span>
  {{ end }}

</nav>

{{- end -}}
